.DS_Store
.project
.loadpath
Gemfile.lock
.tmp*
coverage
test/test_app
tmp
pkg
rdoc
*.gemfile.lock
.byebug_history
# RVM files
.ruby-gemset
.ruby-version
.vscode
.rdbgrc.breakpoints
*.code-workspace
/.idea/dry_crud.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
